@model ReportViewModel
    <h4>Sales by stores</h4>
    <div  id="chartSalesByStores"  style="height: 300px; width: 100%; box-sizing:content-box"></div>
    
    <script type="text/javascript">
        window.onload = function () {
            var chart = new CanvasJS.Chart("chartSalesByStores", {
                theme: "light2",
                animationEnabled: true,               
                data: [
                {
                    type: "pie", //change type to bar, line, area, pie, etc
                    legendText: "{label}",
                    dataPoints: @(Html.Raw(Model.ChartsJsonDatas["salesByStores"]))
                }
                ]
            });
            chart.render();
        };
    </script>    