@model BaseViewModel
<ul class="nav nav-pills">
	<li class="nav-item">
		<menu-item controller="Orders" action="Orders" curent-action="@Model.CurrentAction" class="nav-link" current-page-class="active">Orders</menu-item>
	</li>
	<li class="nav-item">
		<menu-item controller="Customers" action="Customers" curent-action="@Model.CurrentAction" class="nav-link" current-page-class="active">Customers</menu-item>
	</li>
	<li class="nav-item">
        <menu-item controller="Stores" action="Stores" curent-action="@Model.CurrentAction" class="nav-link" current-page-class="active">Stores</menu-item>
    </li>
</ul>
