@model BaseViewModel

<ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item">
        <menu-item controller="Orders" action="Orders" class="nav-link px-2 text-muted">Orders</menu-item>
    </li>
    <li class="nav-item">
        <menu-item controller="Customers" action="Customers" class="nav-link px-2 text-muted">Customers</menu-item>
    </li>
    <li class="nav-item">
        <menu-item controller="Stores" action="Stores" class="nav-link px-2 text-muted">Stores</menu-item>
    </li>
    <li class="nav-item">
        <menu-item controller="Reports" action="SalesByStores" class="nav-link px-2 text-muted">Sales by stores</menu-item>
    </li>
        <li class="nav-item">
        <menu-item controller="Reports" action="SalesByMonths" class="nav-link px-2 text-muted">Sales by months</menu-item>
    </li>
        <li class="nav-item">
        <menu-item controller="Reports" action="SalesByBrands" class="nav-link px-2 text-muted">Sales by brands</menu-item>
    </li>
</ul>